@model ArticleWithCommentModel
<div>
        <h3>@Model._articlePreview.Title</h3>
        <p> @Html.Raw(Model._articlePreview.FullText)</p>
        
</div>

<form id="comments" >
    <ul id="commentsList">
    @foreach (var com in Model._comments)
    {
        <li class="comment">
            <div readonly class="form-control-plaintext">
            <b>@com._userName </b>
            </div>
            <div readonly class="form-control-plaintext">
            <p>@com._comment</p>
            </div>
            <hr />
        </li>
    }        
    </ul>
    @if(Model._comments.Count != 0)
    {
        <span>Show more</span>
    }
</form>
@{
    if(Context.User.Claims.Any())
    {
        <h6>@Context.User.Identity.Name</h6>
        <form asp-controller="Article" asp-action="AddComment">            
            <input type="hidden" asp-for="_comment._articleID" value="@Model._articlePreview.Id" />
            <input type="hidden" asp-for="_comment._userName" value="@Context.User.Identity.Name" />
            <input type="text" asp-for="_comment._comment"/>
            <button class="btn btn-primary" type="submit" >Отправить</button>
        </form>
    } else
    {
        <h4>Комментарии могут оставлять только авторизованные пользователи</h4>
    }
}
<style>
    
    body{
        background: linear-gradient(#B7C1E1,#041858);        
    }

    span {
        cursor: pointer;
        color: greenyellow;
        border:solid;
        border-radius: 10px;
        background-color: gray;
        padding: 5px;
    }
    #commentsList li:nth-child(n+3){
        visibility:hidden;
    }

    h4{ 
        color: greenyellow;
    }
    #comments{
        color:orange;
    }
    .form-control-plaintext{
        color: greenyellow;
    }
    #empty{
        height: 50px;
    }


</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="~/js/commentsScript.js"></script>






