@model ChangeArticleModel

<h2>
    @Model.SourceID
    @Model.Title    
</h2>


<form asp-controller="Admin" asp-action="ChangeArticle" method="post">
    <input type="hidden" asp-for="Id" value="@Model.Id" />
    <p>
        <input type="text" id="title" asp-for="Title" placeholder="@Model.Title"/>
    </p>
    <p>
        <input type="text" id="description" asp-for="Description" placeholder="description" />
    </p>
    <p>
        <input type="text" id="fulltext" asp-for="FullText" placeholder="Исправленный текст"/>
    </p>
    <p>
        <input type="number" asp-for="PositivityRating" placeholder="Введите рейтинг"/>
    </p>
    <p>
        <input type="number" asp-for="SourceID" placeholder="Введите номер источника"/>
    </p>    
    <button class="btn btn-secondary" type="submit" >Confirm</button>       
</form>

<form asp-controller="Admin" asp-action="ChangeArticle" method="post"  >
    <input type="hidden" asp-for="DeleteArticle" value="true"/>
    <input type="hidden" asp-for="Id" value="@Model.Id" />
    <button class="btn btn-primary" type="submit" >Delete Article</button>
</form>


<style>
    #title{
        width: 200px;
        height: 50px;
    }
    #description{
        width: 200px;
        height: 50px;
    }
</style>